.Header_wrapper {
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: url(assets/Images/distort-bg.png);
  background-color: var(--bg-color-header);
  position: relative;
}

.Header_wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-header-2) !important;
  z-index: -1;
}

.Header_wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
  filter: blur(190px);
  background-color: rgba(132, 153, 78, 0.8);
}

@media screen and (max-width: 1100px) {
  .Header_wrapper {
    min-height: 100vh;
    max-height: none;
  }
}
