@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Electrolize&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  user-select: none;
}

:root {
  --text-color: #ffff;
  --bg-color-header: #1a2813;
  --bg-color-header-2: #361723;
}

[data-theme='light'] {
  --text-color: #000;
  --bg-color-header: #e8e8e8;
  --bg-color-header-2: #ffffff;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 12%;
}
